/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.padding-horizontal-center{
    padding-left: 2rem;
    padding-right: 2rem;
}

.text-align-center{
    text-align: center;
}

.margin-center{
    margin: 2rem 2rem;
}

.blue-bg{
    background-color: #0084fd;
}

.light-blue-bg{
    background-color: #b5ddff;
}

.gray-bg{
    background-color: #333333;
}

.white-text{
    color: white;
}

.white-bg{
    background-color: white;
}

.color-lilac{
    background-color: #9792e4;
}

.lilac-text{
    color: #9792e4;
}

.flex{
    display: flex;
}

.nav-container{
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.8rem;
    height: 80px;
}

.hamburger-menu i{
    font-size: 1.5rem;
    color: white;
}

.hamburger-btn{
    border: none;
}

.demo-app{
    height: auto;
    border-radius: 20px;
    margin-top: 2rem;
    padding-top: 2.5rem;
}

.container{
    margin: 3rem 3rem 6rem 3rem;
}

/* .container .demo-app{
    margin-bottom: 0;
} */

.demo-titles{
    color: #0084fd;
    font-weight: 700;
}

p{
    margin: 2rem 0;
    line-height: 2rem;
    font-weight: 700;
    color: #506271;
}

.demo-button-style{
    all: unset;
    padding-right: 0.5rem;
}

.demo-app .button-style{
    padding: 0.55rem 3rem;
    border-radius: 50px;
    font-weight: 800;
    letter-spacing: .2rem;
}

.phone-img{
    width: 100%;
    object-fit: fill;
    padding-top: 2.5rem;
}

/* TOGLIERE SPAZIO SOTTO IMAGINE^^^ */

.section-flex{
    display: flex;
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.demo-icon{
    font-size: 80px;
    padding-bottom: 1.5rem;
}

section.strategic-planning{
    background-color: #9792e4;
    padding: 4rem auto 4rem auto;
    padding-bottom: 4.5rem;
}

.girl-wave-image{
    width: 100%;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.strategic-planning h1{
    font-size: 2.5rem;
    padding-bottom: .75rem;
}

.strategic-planning p{
    font-weight: 400;
    padding-bottom: .75rem;
}

.strategic-inner{
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 80px;
    padding: 2.5rem 0 1.5rem 0;
}

.strategic-inner h1{
    margin-top: 1.6rem;
    margin-bottom: 0.7rem;
    font-weight: 700;
    font-size: 1.8rem;
}

.strategic-inner p{
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 2.3rem;
}

.arrow-button{
    all: unset;
    background-color: #9792e4;
    padding: 16px 18px;
    border-radius: 50px;
    margin: 20px auto;
}

.arrow-button i{
    font-size: 1.3rem;
    height: 20px;
    width: 20px;
}

section.testimonials{
    margin-top: 5rem;
    margin-bottom: 4rem;
}

section.testimonials h4{
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.testimonials{
    text-align: center;
    padding-bottom: 2rem;
}

.testimonials h1{
    color: #9792e4;
    font-size: 2.5rem;
}

.testimonials p{
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;

}

.testimonials .strategic-inner{
    background-color: #9792e4;
    color: white;
    margin-top: 1.5rem;
}

.testimonials .strategic-inner img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonials .strategic-inner p{
    color: white;
    padding: 2rem 1rem;
}

.benefits-inner {
    border-radius: 50px;
}

.benefits *{
    justify-content: center;
}

.benefits h1{
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    padding: 3rem 0 6rem 0;
}

.margin-zero-auto{
    margin: 0 auto;
}

.inner-h2{
    text-align: left;
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.benefits div{
    border-radius: 20px;
}

.inner-container{
    padding-bottom: 2.5rem;
    margin-bottom: 2rem;
}

.inner-container h1.testimonials{
    text-align: left;
    font-size: 2.5rem;
    padding: 0;
}

.inner-container p{
    color: #506271;
    font-weight: 400;
}

.inner-container .button-style{
    padding: .5rem 3.5rem;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 3px;
}